<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Join us | Sign Now</title>

        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='sign_logo_notext.png')}}" />        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet"/>

</head>
 <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Sign Now</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about_us">About us!</a></li>
                        <li class="nav-item"><a class="nav-link  active" href="/join_us">Join us!</a></li>
                        <li class="nav-item"><a class="nav-link" href="/services">Our services!</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Join our cause!</h1>
                <p class="lead">Sign up to be with the deaf community! Leave your information here and we will contact you as fast as possible!</p>
            </div>
        </header>
        <!-- About section-->
        <section id="about" style="padding-top: 4rem; padding-bottom: 4rem;">
            <div class="container px-4">
                <div class="row gx-4 justify-content-start">
                    <div class="col-lg-8">

                        <h3>{{message}}</h3>
                        <br>
                      <form method="POST" action="/join_us">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>First Name</label>
      <input type="text" class="form-control" id="first" placeholder="First Name" name="first1" required>
    </div>
    <div class="form-group col-md-6">
      <label>Last Name</label>
      <input type="text" class="form-control" id="last" placeholder="Last Name" name="last1"required>
    </div>
  </div>
  <div class="form-group">
    <label>Phone Number</label>
    <input type="text" class="form-control" id="phone" placeholder="Phone Number" max="15" name="phonenum" required>
  </div>
  <div class="form-group">
    <label>Email Adress</label>
    <input type="Email" class="form-control" id="email" placeholder="Email Adress" name="emailadress"required>
  </div>

    <div class="form-group col-md-4">
      <label for="inputState">Signing Up For</label><br>
        <input type="radio" name="extra" value="customer">
        <label>Services</label><br>
         <input type="radio" name="extra" value="company">
         <label>Business</label><br>
          <input type="radio" name="extra" value="deaf">
          <label>Interpeter</label><br>
          <input type="radio" name="extra" value="learn">
          <label>Courses</label><br>
          <input type="radio" name="extra" value="general">
          <label>General</label><br>
      </select><br>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label>Extra Information</label>
      <input type="text" class="form-control" id="company" placeholder="Company Name,pre ordering calls, ETC..." name="extrainfo">
      <br>
        <button type="submit" class="btn btn-primary">Sign Now.Right Now</button>
    </div>
</form>





                    </div>
                </div>
            </div>
        </section>
        <img src="{{url_for('static', filename='computer.png')}}" style="position: relative; left: 1000px; bottom: 300px; transform: rotateY(180deg);">
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">2022 © Sign Now Tech Solutions; Sign Language Interpretation Technologies.

Equalizes the reality for the deaf community.</p>
              <p class="m-0 text-center text-white">Made by Shadan Abadi, Shachar Biton, Leena Abdeen, Steve Donetz, MEET Y2 Final Project.</p>/div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
  

	<!--{% if submit == True %}
	<p> we'll contact you later</p>
    {% else %}
        <p>make sure to fill all the boxes</p>
    {% endif %}-->


</body>
</html>








