<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Home | Sign Now</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='sign_logo_notext.png')}}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static', filename = 'css/styles.css')}}" rel="stylesheet"/>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Sign Now</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about_us">About us!</a></li>
                        <li class="nav-item"><a class="nav-link" href="/join_us">Join us!</a></li>
                        <li class="nav-item"><a class="nav-link" href="/services">Our services!</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header>
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Sign Now</h1>
                <p class="lead">Live sign language for the deaf community.</p>
                <a class="btn btn-lg btn-dark" href="/services">Use our web-app!</a>
                <a class="btn btn-lg btn-dark" href="#tutorial">For a tutorial!</a>
            </div>

        </header>
        <!-- About section-->
        <section id="about" style="padding-top: 4rem; padding-bottom: 4rem; background: url('https://static.wixstatic.com/media/3acf29_7c104433a69b489c8e5aaf61b4c9a35a~mv2.jpg/v1/fill/w_1429,h_349,al_c,q_85,enc_auto/3acf29_7c104433a69b489c8e5aaf61b4c9a35a~mv2.jpg');">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <p id = "first" class="lead text-center" style="color: #f8f9fa;">Approximately 90,000,000 deaf people start their lives at a disadvantage due to the fact that the hearing majority are unfamiliar with their language - sign language.</p>
                       <p id = "tran" style="color:#f8f9fa"> {{demo}}</p>

                         <button class = "btn btn-lg btn-light align-self-center"  onclick="english()">English
                         </button>
                         <button class = "btn btn-lg btn-light align-self-center" onclick="arabic()">Arabic</button>

                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="app_explain">
            <div class="container px-4">
                <div class="row justify-content-sm-end">
                    <img src="{{url_for('static', filename='phone1.png')}}" style="height: 650px; width: 400px; position: relative; right: 250px;">
                    <div class="col-lg-5">
                        <h2 style="padding-bottom: 10px;"><b>Our app is here to help!</b></h2>
                        <p class="lead" style="line-height: 1.7; font-size: 22px;">Our innovative web-app is a service-based technology that connects between the deaf community and sign language interpreters.<br>We offer a variety of video call options including call-back, on-demand, and pre-scheduled calls, all with minimum clicks.<br>And it is all <b>FOR FREE!</b></p>
                        <ul style="font-size: 20px;">
                            <li>Easy to use!</li>
                            <li>Accecible!</li>
                            <li>The Deaf Community - front and center!</li>
                            <li>Immidiate calls or order in advance!</li>
                            <li>Your calls are safe and secure!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="tutorial">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-6 justify-content-center text-center">
                        <h2><b>Don't know where to start? Watch this!</b></h2>
                        <br><br>
                        	<iframe width="560" height="315" src="https://www.youtube.com/embed/z8Mm88jepsk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        	<br><br><br>
                        	<a class="btn btn-lg btn-dark align-self-center" href="/services">Now try it out!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact" class="bg-light">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2>Contact us</h2>
                        <p class="lead">If you wanna contact us, as a business, consumer or interpreter, click here!</p>
                        <a class="btn btn-lg btn-dark align-self-center" href="#">Start Signing Now, Right Now!</a>
                        <p class="lead" style="padding-top: 40px">Or follow us on social media!</p>
                        <a href="https://www.youtube.com/channel/UCiCzFfjO4yaEVXxE1gmIeWg"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384012.png" style="width: 50px; height: 50px;"></a>
                        <a href="https://www.instagram.com/signow1/"><img src="https://cdn-icons.flaticon.com/png/512/4138/premium/4138164.png?token=exp=1660137698~hmac=b964aef92542a7c0f9f1248e45ea84de" style="width: 55px; height: 55px;"></a>
                        <a href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQETocqOt6G1-QAAAYKH3d8o5g7S3JSuq5rrFonyBWy3BKy2YKqgiRrTO8TftwIchf-wmxDAzNBxeEP2K-VLntu9CeDibu8fpeTcsIb7poxRPsDlFUQ6z7ISHH4A0r05ZYs46XA=&original_referer=https://www.signnow.co.il/&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fsign-now1"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" style="width: 50px; height: 50px;"></a>

                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">2022 © Sign Now Tech Solutions; Sign Language Interpretation Technologies.

Equalizes the reality for the deaf community.</p>
            	<p class="m-0 text-center text-white">Made by Shadan Abadi, Shachar Biton, Leena Abdeen, Steve Donetz, MEET Y2 Final Project.</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script>
        

        // function english() {
        //     var x = document.getElementById("first");
        //     var y = document.getElementById("tran");

        //     y.style.visibility = "hidden"
        //     x.style.visibility = "visible"
        // }

        // function arabic() {
        //     var x = document.getElementById("first");
        //     var y = document.getElementById("tran");

        //     y.style.visibility = "visible"
        //     x.style.visibility = "hidden"
        // }

        function english() {
            var x = document.getElementById("first");
            var y = document.getElementById("tran");

            y.style.display = "none"
            x.style.display = "block"
        }

        function arabic() {
            var x = document.getElementById("first");
            var y = document.getElementById("tran");

            y.style.display = "block"
            x.style.display = "none"
        }
        </script>
    </body>
</html>
