<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Home | Sign Now</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static', filename = 'css/styles.css')}}" rel="stylesheet"/>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Sign Now</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" href="/">Homepage</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about_us">About us!</a></li>
                        <li class="nav-item"><a class="nav-link" href="/join_us">Join us!</a></li>
                        <li class="nav-item"><a class="nav-link" href="/services">Our services!</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header>
            <div class="container px-4 text-center">
                <h1>Our services!</h1>
                <p>It's possible to get services to the following businesses:</p>
            </div>
        </header>
        <!-- About section-->
        <section id="about" class = "bg-light bg-gradient" style="padding-top: 4rem; padding-bottom: 4rem;">
            <div class="container-md px-4  justify-content-start">
                <div class="row">
                        <div class="col-lg-2 text-center">
                            <img src="https://www.health.gov.il/PublishingImages/callCenter2_150x150.jpg" style="width:200px; height: 140px;">
                            <h4>Kol Habri'ut Hotline<br>(Israel's Ministry of Health)</h4>
                            <p>For an immidiate call with Kol Habri'ut Hotline, Press here:</p>
                            <a class="btn btn-lg align-self-center" href="#">Immidiate call!</a>
                        </div>

                        <div class="col-lg-2 text-center">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Big_new_logo_shopping_center_02.jpg/1200px-Big_new_logo_shopping_center_02.jpg" style="width: 200px; height: 158px">
                            <h3>BIG shop centers</h3>
                            <p style="line-height: 1.6;">For the list of our collabarating BIG shopping centers, Press here:</p>
                            <a class="btn btn-lg align-self-center" href="#">To the list!</a>
                        </div>

                        <div class="col-lg-2 text-center">
                            <h3>Ichilov Hospital</h3>
                            <p>For an already sceduelded call, Press here:</p>
                            <a class="btn btn-lg align-self-center" href="#">Scedueled call!</a>
                            <br>
                            <p>For an immidiate call with the Public Inquiries Service, Press here:</p>
                            <a class = "btn btn-lg align-self-center" href="#">Immidiate call!</a>
                        </div>

                        <div class="col-lg-2 text-center">
                            <h3>Partner</h3>
                            <p>For a call with Partner's customer service line, Press Here:</p>
                            <a class="btn btn-lg align-self-center" href="#">Make a call!</a>
                        </div>

                        <div class="col-lg-2 text-center">
                            <h3>Ramat Gan Municipality</h3>
                            <p>For an immidiate call with the municipality's hotline, Press here:</p>
                            <a class="btn btn-lg align-self-center" href="#">Make a call!</a>
                        </div>

                    </div>
                </div>
        </section>
    </body>
    </html>